.gemContainer {
  display: flex;
  gap: 10px;
  border: 1px solid var(--dark-gray-foreground);
  border-radius: 10px;
  padding: 10px;
}

.gem {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;

  .level {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    background-color: var(--dark-gray-background);
    opacity: 0.8;
    color: var(--dark-gray-foreground);
    padding: 2px 4px;
    border-radius: 4px;
  }

  &[data-grade='희귀'] {
    img {
      background-image: linear-gradient(135deg, #3d3333, #3cff00);
    }
  }

  &[data-grade='영웅'] {
    img {
      background-image: linear-gradient(135deg, #3d3333, #9900ff);
    }
  }

  &[data-grade='전설'] {
    img {
      background-image: linear-gradient(135deg, #3d3333, #ffce00);
    }
  }

  &[data-grade='유물'] {
    img {
      background-image: linear-gradient(135deg, #3d3333, #ff4f00);
    }
  }

  &[data-grade='고대'] {
    img {
      background-image: linear-gradient(135deg, #3d3333, #dcc99a);
    }
  }
}
