.tabList {
  display: flex;
  height: 60px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.tab {
  width: 200px;
  padding: 8px 16px;
  background-color: var(--contentbackground);
  color: var(--contentforeground);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.tabContent {
  background-color: var(--contentbackground);
  border-radius: 0 0 10px 10px;
}

.tab:hover {
  color: var(--foreground);
}

.active {
  color: var(--foreground);
  border-bottom: 2px solid var(--foreground);
  font-weight: bold;
}
