.container {
  width: 920px;
  padding: 20px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}

.summarySection {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.section {
  width: 880px;
  margin-bottom: 2.5rem;
}