.tabList {
  width: 300px;
  display: flex;
  height: 30px;
  border: 1px solid var(--light-gray-background);
  color: var(--light-gray-foreground);
  background-color: var(--light-gray-background);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.tab {
  width: 110px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tab:hover {
  color: var(--light-gray-foreground);
}

.active {
  color: var(--light-gray-foreground);
  font-weight: bold;
}

.tabContent {
  border: 1px solid var(--light-gray-background);
  padding: 10px;
  border-radius: 0 0 8px 8px;
}

.content {
  display: flex;
  padding: 20px;
  border: 1px solid var(--light-gray-foreground);
  border-radius: 8px;
}

.dpsContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  .dpsLabel {
    width: 40px;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }

  .dpsValue {
    font-size: 14px;
  }
}
