:root {
  --background: #ffffff;
  --foreground: #171717;
  --accentcolor: #f5f5f5;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accentcolor: oklch(0.274 0.006 286.033);
  }
}

select {
  background-color: var(--accentcolor);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-row-start: 2;
  align-items: center;
}

.searchSection {
  border: 2px solid var(--foreground);
  border-radius: 10px;
  background-color: var(--accentcolor);
}

.divLine {
  margin: 0 10px 0 10px;
  border-top: 1px solid var(--foreground);
}
