.card {
  position: relative;
  width: 160px;
  background-color: #15181d;
  color: white;
  border-radius: 10px;
  padding: 16px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  object-fit: contain;
  margin-bottom: 10px;
}

.info {
  text-align: center;
}

.header {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  gap: 5px;
  font-size: 12px;
  color: #ccc;
}

.name {
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.server {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 12px;
  color: #888;
}

.guild {
  font-size: 12px;
  margin: 2px 0;
  color: #4dd;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 6px;
}

.itemLevel {
  color: #c1ac95;
}

.score {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #ffd700;
}
