.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  z-index: 100;
  border-bottom: 1px solid var(--foreground);
}

.navbar {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navSearchBar {
  height: 50px !important;
  width: 300px !important;
}

.logo {
  margin-left: 20px;
  font-family: 'Giants-Bold';
  font-size: 24px;
  cursor: pointer;
}
