.container {
  width: 400px;
  background-color: var(--contentbackground);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 14px;
  color: var(--contentforeground);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  font-size: 14px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemRow {
  display: flex;
  align-items: center;

  span {
    text-align: center;
  }
}

.removeButton {
  margin-left: auto;
  color: var(--contentforeground);
  background: none;
  border: none;
  cursor: pointer;
}

.removeButton:hover {
  color: var(--contentaccent);
}
