.searchBar {
  height: 80px;
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: var(--accentcolor);
  border-radius: 10px;

  input {
    width: 290px;
    height: 100%;
    outline: none;
  }

  button {
    width: 56px;
    height: 100%;
    background-image: url('/ico/ico-search_light.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      background-image: url('/ico/ico-search_dark.png');
    }
  }
}
